<%= render '/shared/nav' %>


<div class="ui container">
  <h1>Welcome to <%= @billboard.name %></h1>

  <div class="ui two buttons">
    <%= link_to 'Edit Billboard', edit_billboard_path(@billboard), class: "ui teal simple button" %>
    <%= link_to 'Delete', billboard_path(@billboard), method: :delete, class: "ui red simple button" %>
  </div>

  <hr>

  <div class="ui container">
    <div class"ui grid">
      <h2>All Songs</h2>
      <div class "sixteen wide computer column">
        <div class="ui cards">
          <% @billboard.songs.each do |song| %>

          <div class="card">
            <div class="content">
              <div class="header">
                Track:
              </div>

              <div class="description">
                <%= song.name %>
              </div>
            </div>
            <div class="extra content">
              <%= link_to 'Remove From List', remove_song_path(@billboard, song), method: :patch, class: "ui orange button"  %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <hr>
   <%= link_to 'Add Song to Billboard', find_song_path, class: "ui teal button" %>
   <br>
   <%= link_to 'View Artists', artists_path, class: "ui blue button" %>
</div>
